@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

*{
      font-family: 'Outfit', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;

}
body{
      min-height: 100vh;
      background-color:hsl(212, 45%, 89%);
      display: flex;
      align-items: center;
      justify-content: center;
}
.container{
     background-color: white;
     width: 350px;
     height: 100%;
     text-align: center;
     box-shadow: 16px 19px 17px;
     border-radius: 1rem;
}
.container__box{
      margin: 10% auto;
}
.container__box img{
      width: 300px;
      border-radius: 1rem;
}
.container__box h2{
      color:hsl(218, 44%, 22%);
      font-weight: 700;
      margin:25px;

}
.scan{
      width: 80%;
      margin-left:20px;
}
.scan p {
       color:hsl(220, 15%, 55%);
       font-weight: 400;
       margin: 1rem 0;
}
