@media screen and (min-width: 1054px) and (max-width:1440px){
      .content__box{
            width: 100%;
            height:64vh;
      }
      .content__box img{
         width:100%;   
      }
}
@media screen and (min-width:650px) and (max-width:1053px){
      .content__box{
            width: 100%;
            height:64vh;
      }
      .content__box img{
         width:100%;   
      }
}
@media screen and (min-width:360px) and (max-width:649px){
      .content__box{
            width: 100%;
            height:64vh;
      }
      .content__box img{
         width:100%;   
      }
}