@media screen and (min-width: 1439px) and (max-width:1970px){
      .content__box{
            height:70vh;
      }
      .content__box h1{
            margin: 2px;
            width: 100%;
            font-size: 31px;
            text-indent: 9px;
            color: hsl(218, 44%, 22%);  
      }
      .scan p{
      width: 240px;
      text-align: center;
      font-size: 15px;
      font-weight:400px;
      color: hsl(220, 15%, 55%);
      margin:31px;
      line-height: 20px;
}
      .content__box img{
         width:100%;   
      }
}
@media screen and (min-width: 1054px) and (max-width:1440px){
      .content__box{
            height:65vh;
            width: 100%;
      }
      .content__box h1{
            
            width: 100%;
            font-size:60px;
            text-indent: 9px;
            color: hsl(218, 44%, 22%);  
      }
      .scan{
            display: flex;
            justify-content: center;
      }
      .scan p{
            width: 579px;
            text-align: center;
            font-size: 40px;
            font-weight: 700px;
            color: hsl(220, 15%, 55%);
            line-height:60px;
}
      .content__box img{
         width:100%;
         padding:20px;   
      }
}


@media screen and (min-width:360px) and (max-width:649px){
      .content__box{
            height:65vh;
            width: 100%;
      }
      .content__box h1{
            
            width: 100%;
            font-size:60px;
            text-indent: 9px;
            color: hsl(218, 44%, 22%);  
      }
      .scan{
            display: flex;
            justify-content: center;
      }
      .scan p{
            width: 579px;
            text-align: center;
            font-size: 40px;
            font-weight: 700px;
            color: hsl(220, 15%, 55%);
            line-height:60px;
}
      .content__box img{
         width:100%;
         padding:20px;   
      }
}